.Clicker {
    position:absolute;
    width: max-content;

    padding: .5rem 1rem;

    border-color: yellow;
    border-radius: 8px;
    
    user-select: none;

    color: white;

    background-color: rgba(0,0,0, 0.2);

    text-shadow: 0px 0px 0px rgba(0,0,0, 0);

    font-weight: bolder;

    transition: all 200ms, top 100ms, left 100ms;
}

.Clicker:hover {
    color: black;
    border-color: white;
    background-color: yellow;

    box-shadow: 0px 0px 8px 0px rgba(255, 255, 0);
    text-shadow: 0px 0px 1px rgba(0,0,0, 0.5);

    cursor: pointer;

    
}

.Clicker:active {
    background-color: lightyellow;

    box-shadow: 0px 0px 16px 0px rgba(255, 255, 0, 0.5);
    text-shadow: 0px 0px 2px rgba(0,0,0, 0.8);

    transition: background-color 50ms;
}