.Clicker {
    position:absolute;
    width: max-content;
    padding: .5rem 1rem;

    border: 1px solid transparent;
    border-radius: 8px;
    
    user-select: none;

    background-color: yellow;

    box-shadow: 0px 0px 4px 0px rgba(0,0,0, 0.5);

    font-weight: bolder;
}

.Clicker:hover {
    border: 1px solid grey;

    text-shadow: 0px 0px 1px rgba(0,0,0, 0.5);
}