.HistoryGraph {
    position: relative;
    /* border: 2px solid orange; */

    text-align: center;
}

.canvasArea {
    position: relative;
}

.canvas {
    display: block;

    box-sizing: border-box;

    width: 100%;
    aspect-ratio: 16/9;

    margin: auto;

    border-radius: 8px;

    background: linear-gradient(135deg, rgba(255,255,255, 0.05), rgba(255, 255, 255, 0.1));

    box-shadow: 1px 1px 4px 0px rgba(0,0,0, 0.2);
}

.canvas_numberHighest, .canvas_numberLowest {
    position: absolute;

    color: rgba(255, 255, 255, 0.5);

    user-select: none;
}

.canvas_numberHighest {
    top: 4px;
    left: 6px;
}

.canvas_numberLowest {
    bottom: 4px;
    left: 6px;
}