.Market {
    width: 80%;
    min-width: 300px;
    max-width: 600px;

    box-sizing: border-box;

    margin: auto;
    padding: 20px;

    border: 2px solid green;
    border-radius: 8px;
}

.Market > p, .amountInputArea, .buyOptions, .averagesArea { /*  TO REFACTOR  */
    margin-bottom: 1rem;
}

.Market > p {
    text-align: center;
}

.title {
    font-size: 2rem;
}

.priceNumber {
    font-size: 1.8rem;
}


.amountInputArea {
    display: block;

    min-width: max-content;
    width: fit-content;

    margin-left: auto;
    margin-right: auto;
}

.amountInputArea > input {
    width: 5rem;
}



.buyOptions {
    display: flex;
    justify-content: space-evenly;

    margin-left: auto;
    margin-right: auto;
}

.buyOptions > button {

    padding: 5px 10px;

    border: 1px solid transparent;
    border-radius: 4px;

    box-shadow: 1px 1px 2px 0px rgba(0,0,0, 0.2);
}

.buyOptions > button:hover {
    border: 1px solid black;

    text-shadow: 0px 0px 1px rgba(0,0,0, 0.5);
}

.buttonBuy {
    background-color: lightgreen;
}

.buttonSell {
    background-color:lightpink;
}


.averagesArea {
    display: flex;
    justify-content: space-evenly;
}

.averagesArea > p {
    text-align: center;
}


.buttonGraphToggle {
    padding: 4px 8px;

    border: 1px solid grey;
    border-radius: 4px;

    background-color: white;
}

.buttonGraphToggle:hover {
    background-color: rgb(240,240,240);
}


/*
    MISC
*/

.accentText {
    font-size: 1.2rem;
}