.Market {
    width: 80%;
    min-width: 300px;
    max-width: 800px;

    box-sizing: border-box;

    margin: auto;

    /* border: 2px solid green; */
}

.Market > p, .amountInputArea, .buyOptions, .averagesArea { /*  TO REFACTOR  */
    margin-bottom: 1rem;
}

.Market > p {
    text-align: center;
}

.title {
    font-size: 2rem;
}

.priceNumber {
    font-size: 1.8rem;
}


.amountInputArea {
    display: block;

    min-width: max-content;
    width: fit-content;

    margin-left: auto;
    margin-right: auto;
}

.amountInput {
    padding: 4px;
    width: 4rem;
}



.buyOptions {
    display: flex;
    justify-content: space-evenly;

    margin-left: auto;
    margin-right: auto;
}

.buttonBuy {
    background: var(--gradient-green);
    background-color: lightgreen;
}

.buttonSell {
    background: var(--gradient-red);
    background-color:lightpink;
}


.averagesArea {
    display: flex;
    justify-content: space-evenly;
}

.averagesArea > p {
    text-align: center;
}


.buttonGraphToggle {
    padding: 4px 8px;

    border-radius: 4px;

    background: none;
    background-color: rgb(20, 20, 20);
    
    transition: all 200ms;
}

.buttonGraphToggle:hover {
    border-color: transparent;
    background-color: rgb(50, 50, 50);
}


/*
    MISC
*/

.accentText {
    font-size: 1.2rem;
}