
.App {
  display: flex;
  flex-direction: column;
  gap: 4rem;

  margin-top: 4rem;
  margin-bottom: 2rem;
}

.score {
  z-index: 10;
  position: fixed;
  top: 8px;
  left: 8px;

  text-align: center;
  font-size: 1.5rem;
  font-weight: bolder;

  text-shadow: 0px 0px 4px black;
}

.copyrights {
  text-align: center;
}