
.App {
  display: flex;
  flex-direction: column;
  gap: 4rem;

  margin-top: 4rem;
  margin-bottom: 2rem;
}



.score {
  z-index: 10;
  position: fixed;
  top: 8px;
  left: 8px;

  text-align: center;
  font-size: 1.5rem;
  font-weight: bolder;

  text-shadow: 0px 0px 4px black;
}



.optionsArea {
  display: flex;

  position:fixed;
  bottom: 0px;
}

.optionsToggle {
  width: fit-content;

  padding: 4px 8px;

}

.options > * {
  padding: 4px 32px;
}

.optionsButtonLoad:hover {
  background-color: rgb(0, 75, 125);
}

.optionsButtonSave:hover {
  background-color: rgb(125, 75, 0);
}

.optionsButtonReset:hover {
  background-color: darkred;

  text-shadow: 0px 0px 4px white;
}



.copyrights {
  text-align: center;
}