
.App {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.score {
  margin-top: 2rem;

  text-align: center;
  font-size: 3rem;
}

footer {
  margin-bottom: 2rem;
}

.copyrights {
  text-align: center;
}