@font-face {
    font-family: 'SometypeMono';
    src: url('/SometypeMono.ttf') format('truetype');
}

:root {
    --color-background: #0c1625;
    --gradient-green: linear-gradient(135deg, #0ac11a, #055f0c);
    --gradient-red: linear-gradient(135deg, #f20d0d, #920808);
    --gradient-yellow: linear-gradient(135deg, #f2e90d, #928e08);
}



/*
    GENERAL
*/

*, body {
    margin: 0;
    padding: 0;

    color: white;

    border: none;

    font-family: "SometypeMono", monospace;
}

body {
    background-color: var(--color-background);
}



/*
    ELEMENTS
*/

button {
    user-select: none;

    padding: 4px 8px;

    border: 2px solid transparent;
    border-radius: 4px;

    background-origin: border-box !important;

    transition: all 200ms;
}

button:hover {
    border: 2px solid white;
}


input {
    border: 1px solid white;
    border-radius: 4px;

    background-color: transparent;
}